.header {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  opacity: 0.7;
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
  padding-top: 45px;
  padding-bottom: 45px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
    padding-bottom: 28px;
  }
}
