.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /*display: none;*/
  align-items: center;
  justify-content: center;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}
.modal__overlay {
  opacity: 0.5;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  height: 260px;
  width: 358px;
}
.modal__close {
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}
.modal__heading {
  width: 330px;
  height: 23px;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  border: none;
}
.modal__form {
  height: 14px;
  width: 358px;
}
.modal__form-title {
  height: 14px;
  width: 358px;
  border: 1px solid #000;
  padding-bottom: 13px;
  margin-bottom: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.modal__form-description {
  height: 14px;
  width: 358px;
  border: 1px solid #000;
  margin-bottom: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.modal__button {
  height: 50px;
  width: 358px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .modal__close {
    width: 26px;
    height: 26px;
  }
}
