.page {
  display: grid;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0 36px;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
  .page {
    padding-left: 0px;
    padding-right: 0px;
  }
}
