.page {
  display: grid;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0 36px;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media screen and (max-width: 978px) {
  .page__section {
    padding: auto, 40px;
  }
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 480px) {
  .page__section {
    margin: 0;
  }
}
